<!DOCTYPE html>
<html>
  <head>
    <title>RorIbmTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <style>
      ul.hmenu {
        list-style: none;
        margin: 0 0 2em;
        padding: 0;
      }

      ul.hmenu li {
        display: inline;
      }
    </style>
    <ul class="hmenu">
      <%= render 'devise/menu/login_items' %>
    </ul>
    <%= yield %>
  </body>
</html>
